<p id="notice"><%= notice %></p>
<div class="track-container">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <!-- <th>Length</th> -->
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tracks.each do |track| %>
        <tr>
          <td><%= track.title %></td>
          <!-- <td><%= track.length %></td> -->
          <td><%= track.category.name %></td>
          <td><audio controls controlsList="nodownload">
            <source src="<%= track.audio %>" type="audio/ogg">
            <source src="<%= track.audio %>" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
          </td>
          <td>
            <a class="download-btn" href="<%= track.audio %>" download="proposed_file_name">Download</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
